.root {
  position: relative;

  @media (max-width: 991px) {
    margin: 0;

    > ul {
      display: none;
    }
  }

  > ul {
    align-items: center;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    width: 100%;

    > li {
      position: relative;

      &:not(:last-child) {
        margin-right: 55px;

        @media (max-width: 1039px) {
          margin-right: 20px;
        }
      }
    }
  }
}

.link,
.disabledLink {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-family: var(--font-family-heading);
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 64px;
  padding: 0 8px;
  text-transform: uppercase;
}

.disabledLink {
  color: #ccc;
  user-select: none;
}

.link a {
  color: #f48fb1;
  color: var(--md-blue-grey-900);
  text-decoration: none;
  transition: all 250ms ease-in-quad;
}

.link:active a,
.link.active a {
  color: var(--lodus-pink);
}

.link:hover a {
  color: rgba(255, 0, 128, 0.5);
}

/* .highlight {
  margin-right: 8px;
  margin-left: 8px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.15);
  color: #fff;
}

.highlight:hover {
  background: rgba(0, 0, 0, 0.3);
}

.spacer {
  color: rgba(0, 0, 0, 0.3);
}

.hidden {
  display: none;
} */

:global(.Navigation-mobile) {
  background: rgba(38, 50, 56, 0.8);
  margin: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 300ms ease;
  transform: scaleY(0);
  transform-origin: top center;
  visibility: hidden;

  &:global(.menuOpen) {
    opacity: 1;
    transform: scaleY(1);
    visibility: visible;
  }

  :global(.md-btn) {
    margin: 8px;
  }

  ul {
    display: block;

    li:not(:last-child) {
      border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    }
  }

  .link:hover a {
    color: rgba(255, 255, 255, 0.6);
  }
}
