.root {
  position: sticky;
  top: 0;
  transition: background 500ms ease;
  width: 100%;
  z-index: 10;

  /* @media (max-width: 991px) {
    position: relative;
  } */
}

.container {
  align-items: center;
  display: flex;
  margin: 0;
  padding: 8px 4%;
  position: relative;
  width: 100%;

  @media (min-width: 1500px) {
    padding: 8px 60px;
  }

  :global(.rmd-floating-label) {
    background: #141414;
  }

  nav {
    align-items: center;
    flex: 1;
  }
}

.brand {
  display: inline-block;

  img {
    height: 81px;

    @media (min-width: 600px) and (max-width: 1499px) {
      height: 108px;
    }

    @media (min-width: 1500px) and (max-width: 2599px) {
      height: 135px;
    }

    @media (min-width: 2600px) {
      height: 270px;
    }
  }
}

.editButton {
  margin-left: 2rem;
}
