.item {
  box-sizing: border-box;
  display: inline-block;
  padding: 0 1px;
  position: relative;

  /* transition: transform 500ms cubic-bezier(0.5, 0, 0.1, 1);
  transition-delay: 0; */
  vertical-align: top;
  white-space: normal;
  width: 50%;
  z-index: 1;

  @media screen and (max-width: 499px) {
    width: 50%;
  }

  @media screen and (min-width: 500px) and (max-width: 799px) {
    width: calc(100% / 3);
  }

  @media screen and (min-width: 800px) and (max-width: 1099px) {
    width: 25%;
  }

  @media screen and (min-width: 1100px) and (max-width: 1399px) {
    width: 20%;
  }

  @media screen and (min-width: 1400px) {
    width: calc(100% / 6);
  }

  /* &:hover,
  &:focus {
    cursor: pointer;
    transform: scale(1.5);
    transition-delay: 350ms;
    z-index: 2;
  } */

  &::after {
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    transition: background-color 200ms ease-out-cubic;
    top: 0;
  }

  &:hover {
    cursor: pointer;

    &::after {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}
