body {
	font-family: Calibri;
	font-size: 15px;
	color: #ffffff;
	background: linear-gradient(rgba(41, 56, 72, 0.45), rgba(41, 56, 72, 0.45)), url("./images/one_piece_background_special_01_by_backgrounds4you-d9lp3zb.png");
	background-size: cover;
	background-repeat: no-repeat;
	padding: 0px;
	margin: 0px;
}
* {
	box-sizing: border-box;
}
a {
	color: #51a3dd;
}
input {
	color:black;
}
input[type="file"] {
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	padding: 6px;
	margin: 5px 0;
	background-color: #5176af;
	border-radius: 0;
	display: inline-block;
}

/* Watch */
.watch {
	height: 100%;
	display: flex;
	flex-direction: column;
}
.video-container {
	overflow-x: hidden;
	width: 100%;
	height: 100%;
	flex: 1;
}
.video-player {
	width: 100%;
	height: 100%;
}
.watch > .watch-top {
	margin-top: 10px;
}
.watch > .watch-top select {
	margin-left: 5px;
}
/**/

.topnav {
	z-index: 1;
	background-color: #313131;
	display: inline-block;
	width: 100%;
}
.topnav .logo {
	float: left;
	padding: 10px;
}
.link {
	padding: 20px 0;
}
.link.text-link {
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	margin: 0 14px;
	float: left;
	color: #ffffff;
	text-align: center;
}
.link.text-link:nth-child(2) {
	margin-left: 5px;
}
.link.text-link:hover {
	color: #d2d2d2;
	text-shadow: 2px 2px #000000;
}
.link.link-right {
	float: right;
	padding-right: 12px;
}
.link.link-right > img {
	height: 22px;
}
/**/
.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.torrent-link {
	color: #ffffff;
	padding-top: 9px;
	padding-left: 0px;
	text-align: center;
	margin: 5px;
	width: 30px;
	height: 30px;
	display: inline-block;
	border-radius: 15px;
	background-color: #293848;
	font-size: 13px;
}
.torrent-link:hover {
	background-color: #36495e;
	color: white;
}

.layout-container {
	height: 100%;
	background-color: rgba(35,35,35,.8);
	width: 100%;
	display: flex;
	flex-direction: column;
}
.main-content {
	height: 100%;
	width: 100%;
	overflow-y: auto;
}
.with-padding {
	padding: 15px;
}
img.logo {
	height: 70px;
	margin: -6px 13px;
}
.menu {
	padding: 10px;
}
.menu a {
	padding:10px;
}
.button {
	cursor:pointer;
}
.button:hover {
	text-decoration: underline;
}
table.releases {
	width: 100%;
}
table.releases td {
	margin: 0;
	padding: 0 10px 0 10px;
}
table.releases td > a:hover {
	color: black;
}
table.releases tr:hover {
	background-color: #dddddd;
	color: black;
}
.help {
	cursor: help;
	border-bottom: 1px dotted gray;
}
.bottom-shadow {
	-webkit-box-shadow: 0 5px 11px -4px black;
	-moz-box-shadow: 0 5px 11px -4px black;
	box-shadow: 0 5px 11px -4px black;
}
.h2 {
	margin: 0;
}
.ep-nav {
	width: 30px;
	height: 30px;
	padding-top: 1px;
	display: inline-block;
	font-size: 20px;
	border-radius: 15px;
	background-color: #293848;
	padding-bottom: 2px;
	cursor: pointer;
	color: #ffffff;
	margin: 5px;
}
.vl {
	border-left: 4px solid #395d9e;
	background-color: #313131;
	height: inherit;
	position: center;
	left: 50%;
	margin-left: -3px;
	top: 0;
}

.releases th {
	text-align: left;
	padding-left: 8px;
}
.releases th .glyphicon {
	font-size: 10px;
	position: relative;
	top: 0px;
}
.releases th.date {
	min-width: 95px;
	width: 5%;
}

.members table {
	width: 100%;
}
.members table td {
	padding: 1px 10px 1px 45px;
}
.members table tr:first-of-type > td {
	padding: 10px 10px 1px 45px;
}
.members table tr:last-of-type > td {
	padding: 1px 10px 10px 45px;
}
.submit-button {
	color: white;
	font-size: 16px;
	cursor: pointer;
	padding: 7px;
	margin: 5px 0;
	text-align: center;
	background-color: #5176af;
	border-radius: 0px;
}
.submit-button:hover {
	background-color: #6186bf;
}
.submit-button a {
	color: white;
}
.submit-button a:hover, .submit-button a:focus {
	text-decoration: none;
	color: white;
}
.submit-button.disabled {
	background-color: #5f6e84;
	color: #c5c5c5;
	cursor: default;
	user-select: none;
	-moz-user-select: none;
	-ms-touch-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}
/* Login */
.login-side-container {
	color: white;
	width: 15%;
}
.login-container {
	margin-top: 5px;
}
.login-container input {
	width: 100%;
}
/*List*/
.progress-container {
	color: #444444;
	display: flex;
	height: 100%;
}
.flex-scroll-x {
	display: flex;
	overflow-x: auto;
}
.progress-container .list {
	flex: 1;
	padding: 10px;
	width: 270px;
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-basis: 270px;
	flex-grow: 0;
	flex-shrink: 0;
}
.progress-container .list .header {
	background-color: #ffffff;
	padding: 10px;
	color: #333333;
	font-size: 18px;
	font-weight: bold;
	border-radius: 3px 3px 0 0;
}
.progress-container {
	.list {
		.header {
			&.unreleased {
				background-color: #5d5d5d;
				color: #d4d4d4;
			}
		}
		.cards {
			&.unreleased {
				background-color: #929292;
			}
		}
	}
}
/* Card add button*/
.progress-container .add-card-button-container {
	padding-bottom: 1px;
}
.progress-container .add-card-button:hover {
	background-color: #edeff0;
}
.progress-container .add-card-button .the-text {
	font-size: 17px;
	font-weight: 700;
	display: inline-block;
	margin-left: 5px;
}
.progress-container .add-card-button .glyphicon {
	margin-left: 6px;
	font-size: 14px;
	position: relative;
	top: 1px;
}
.progress-container .add-card-button {
	border-bottom: 1px solid #ccc;
	padding: 5px;
	margin: 10px;
	border-radius: 3px;
	background-color: #ffffff;
	cursor: pointer;
}
/* Progress card */
.progress-container .progress-card {
	background-color: #415671;
	margin: 10px;
	border-radius: 3px;
	border-bottom: 1px solid #ccc;
	color: #f5f5f5;
	&.title:hover:not(.unreleased) {
		background-color: #4f698b;
		cursor: pointer;
	}
}
.progress-container .progress-card .text {
	margin: 5px 10px;
	display: inline-block;
	font-size: 13px;
	font-style: italic;
}
/* Progress card unreleased */
.progress-card.unreleased {
	background-color: #5d5d5d;
	.text {
		color: #d8d8d8;
	}
	.status {
		color: #b7b7b7;
	}
}
/*Card image*/
.progress-container .cards .list-image {
	width: 100%;
	border-radius: 3px;
}
/* Card list */
.progress-container .cards {
	overflow-y: auto;
	background: #E2E4E6;
	border-radius: 0 0px 3px 3px;
}
/*Form overlay*/
.form-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(0,0,0, 0.6);
	z-index: 100;
}
/*Form container*/
.form-container {
	color: #000;
	padding: 10px;
	max-width: 50%;
	overflow-y: auto;
	margin: auto auto;
	background-color: #e8e8e8;
	border-radius: 3px;
	margin-top: 24px;
}
.subform-container {
	margin: 10px;
}
.subform-container .submit-button, .submit-button a {
	display: inline-block;
}
.left-margin {
	margin-left: 5px;
}
.right-margin {
	margin-right: 5px;
}
.issues{
	max-height: 50%;
	overflow-y: auto;
}
.issue-container {
	background-color: #fff;
	padding: 10px;
	color: black;
	margin-top: 10px;
}
.issue-container .header .name {
	font-size: 14px;
}
.issue-container .header .time {
	font-size: 12px;
	font-style: italic;
}
.card .status {
	color: #b3b3b3;
	text-align: left;
	font-size: 11px;
	margin: -5px 10px 4px 10px;
	font-style: italic;
}
.create-issue-input {
	width: 100%;
}
.progress-card.admin-only,.list-content>.header.admin-only {
	background-color: grey;
	color: white;
}
.complete-button {
	background-color: #138a22;
}
.uncomplete-button {
	background-color: #7d0d0d;
}
.issue-container.completed {
	background-color: #b7b7b7;
	color: #909090;
}
.issue-container .glyphicon-unchecked.editable {
	cursor: pointer;
}
.issue-container .glyphicon-unchecked.editable:hover:before {
	content: "\e067";
}
.glyphicon-check,.glyphicon-unchecked {
	color: rgba(2, 130, 0, 0.67);
	font-size: 24px;
	float: right;
}
.form-container video {
	width: 100%;
	background-color: #35465a;
}
.upload-button {
	flex: 1;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	padding: 10px;
	margin: 10px;
	text-align: center;
	background-color: #5176af;
	font-weight: 100;
	font-size: 18px;
	max-height: 87px;
}
